body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: slategrey;
	background-color: slategrey; */
	/* background: radial-gradient(
		circle,
		rgb(35, 32, 104) 0%,
		rgba(148, 187, 233, 1) 100%
	); */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
